# Presentation (Neurobehavioral Systems) files
*.exp
task/log/*

# Matlab files
*.asv

# Windows / OSX files
*.DS_store
Thumbs.db
*.smbdelete*

# Office files
*.xlsx

# Folders
doc/*
IRB/*
data/*
figures/*
# always still version control the readme files
!README.md
!IRB/2014-BC-3883
IRB/2014-BC-3883/*
!IRB/2014-BC-3883/README.md
