# Presentation (Neurobehavioral Systems) files
*.exp
task/log/*

# Matlab files
*.asv

# Windows / OSX files
*.DS_store
Thumbs.db

# Office files
*.xlsx

# Folders
IRB/*
data/*
figures/*
# always still version control the readme files
!README.md
