# Presentation (Neurobehavioral Systems) files
*.exp
task/log/*

# Matlab files
*.asv

# R/Rstudio files
*.RData
*.RHistory
*.Rproj

# Windows / OSX files
*.DS_store
*.DS_Store
Thumbs.db
*.smbdelete*

# Documents
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.pdf
# rmarkdown auxiliary
*.fff
*.ttt

# Graphics
*.ai

# EEG data
*.bdf
*.eeg
*.vhdr
*.vmrk

# R files
.Rproj.user/
.Rproj.user
packrat/lib*/


# Folders
*.zip
records/*
misc/*
IRB/*
data/*
figures/*
talk/*
forms/*
IRB/*
pilot/*
EEG/sourcedata/*
EEG/derivatives/*
EEG/sub-*/*
EEG/code/preproc/eeglab*/*
EEG/code/fieldtrip*/*
paper/AB_tDCS_paper_files/*
src/lib/*

# always still version control the readme files
!EEG/sourcedata/README
!EEG/derivatives/README

# Also do one example subject
!EEG/sub-01/*
